#myCarousel {
  margin-top: 20px;
}

.carousel-linked-nav,
.item img {
  display: block;
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 120px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

/* useless style junk to pretty it up a bit */
*{
  box-sixing: border-box;
}
html{
  box-shadow: inset 0 0 300px rgba(0,0,0,0);
}
body{
  font-family: 'EB Garamond', 'Ubuntu mono';
}

/* begin, shall we */
#myCarousel{
  box-shadow: inset 0 0 15px rgba(0,0,0,0.2), 0 7px 20px rgba(0,0,0,0.4);
  /*height: 256px;*/
  margin: 0 auto;
  position: relative;
/*  width: 600px;*/
  background:
    /* s */
    radial-gradient(center, ellipse cover, rgba(106,0,0,1) 0%,rgba(106,0,0,1) 55%,rgba(106,0,0,0) 55%),
    linear-gradient(233deg, transparent 40%, #6a0000 40%, #6a0000 60%, transparent 60%),
    linear-gradient(233deg, transparent 40%, #6a0000 40%, #6a0000 60%, transparent 60%),
    radial-gradient(center, ellipse cover, rgba(256,256,256,1) 0%,rgba(256,256,256,1) 55%,rgba(256,256,256,0) 55%),
    radial-gradient(center, ellipse cover, rgba(106,0,0,1) 0%,rgba(106,0,0,1) 55%,rgba(106,0,0,0) 55%),
    radial-gradient(center, ellipse cover, rgba(256,256,256,1) 0%,rgba(256,256,256,1) 55%,rgba(256,256,256,0) 55%),
    /* v */
    linear-gradient(15deg, transparent 40%, #fff 40%, #fff 60%, transparent 60%),
    linear-gradient(-15deg, transparent 40%, #fff 40%, #fff 60%, transparent 60%),
    linear-gradient(-15deg, transparent 10%, #fff 10%, #fff 90%, transparent 90%),
    /* a */
    linear-gradient(-15deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    linear-gradient(15deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    linear-gradient(top, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    /* n */
    linear-gradient(0deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    linear-gradient(27deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    linear-gradient(0deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    /* div */
    #6a0000;
  background-position:
    /* s */
    475px 173px,
    436px 126px,
    487px 107px,
    420px 121px,
    475px 100px,
    420px 52px,
    /* v */
    0px 10px,
    70px 10px,
    145px 10px,
    /* a */
    120px 70px,
    168px 70px,
    220px 100px,
    /* n */
    178px 70px,
    265px 70px,
    270px 70px;
    /* div */
  background-repeat: no-repeat;
  background-size:
    /* s */
    40px 40px,
    66px 80px,
    66px 80px,
    150px 145px,
    40px 40px,
    150px 145px,
    /* v */
    188px 236px,
    188px 236px,
    456px 40px,
    /* a */
    188px 176px,
    188px 176px,
    50px 195px,
    /* n */
    268px 176px,
    188px 176px,
    268px 176px,
    /* div */
    656px 256px;
}

.nav.navbar-nav {
  margin: 0 -15px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #ffffff;
}

.navbar-nav > .active.home a, .navbar-nav > .active.home a:hover {
  color: #cb5c3e;
}

.navbar-nav > .active.gallery a, .navbar-nav > .active.gallery a:hover, .navbar-nav > .gallery a:hover {
  color: #3eb5cb;
}

.navbar-nav > .active.about a, .navbar-nav > .active.about a:hover, .navbar-nav > .about a:hover {
  color: #afcb3e;
}

.navbar-nav > .active.contact a, .navbar-nav > .active.contact a:hover, .navbar-nav > .contact a:hover {
  color: #ab3ecb;
}

.navbar {
  background: #ffffff;
}

.fitScreen {
  width: 100%;
  max-height: 98%;
}
