#myCarousel {
  margin-top: 20px;
}

.carousel-linked-nav,
.item img {
  display: block;
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 120px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

/* useless style junk to pretty it up a bit */
*{
  box-sixing: border-box;
}
html{
  box-shadow: inset 0 0 300px rgba(0,0,0,0);
}
body{
  font-family: 'EB Garamond', 'Ubuntu mono';
}

/* begin, shall we */
#myCarousel{
  box-shadow: inset 0 0 15px rgba(0,0,0,0.2), 0 7px 20px rgba(0,0,0,0.4);
  /*height: 256px;*/
  margin: 0 auto;
  position: relative;
/*  width: 600px;*/
  background:
    /* s */
    radial-gradient(center, ellipse cover, rgba(106,0,0,1) 0%,rgba(106,0,0,1) 55%,rgba(106,0,0,0) 55%),
    linear-gradient(233deg, transparent 40%, #6a0000 40%, #6a0000 60%, transparent 60%),
    linear-gradient(233deg, transparent 40%, #6a0000 40%, #6a0000 60%, transparent 60%),
    radial-gradient(center, ellipse cover, rgba(256,256,256,1) 0%,rgba(256,256,256,1) 55%,rgba(256,256,256,0) 55%),
    radial-gradient(center, ellipse cover, rgba(106,0,0,1) 0%,rgba(106,0,0,1) 55%,rgba(106,0,0,0) 55%),
    radial-gradient(center, ellipse cover, rgba(256,256,256,1) 0%,rgba(256,256,256,1) 55%,rgba(256,256,256,0) 55%),
    /* v */
    linear-gradient(15deg, transparent 40%, #fff 40%, #fff 60%, transparent 60%),
    linear-gradient(-15deg, transparent 40%, #fff 40%, #fff 60%, transparent 60%),
    linear-gradient(-15deg, transparent 10%, #fff 10%, #fff 90%, transparent 90%),
    /* a */
    linear-gradient(-15deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    linear-gradient(15deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    linear-gradient(top, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    /* n */
    linear-gradient(0deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    linear-gradient(27deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    linear-gradient(0deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%),
    /* div */
    #6a0000;
  background-position:
    /* s */
    475px 173px,
    436px 126px,
    487px 107px,
    420px 121px,
    475px 100px,
    420px 52px,
    /* v */
    0px 10px,
    70px 10px,
    145px 10px,
    /* a */
    120px 70px,
    168px 70px,
    220px 100px,
    /* n */
    178px 70px,
    265px 70px,
    270px 70px;
    /* div */
  background-repeat: no-repeat;
  background-size:
    /* s */
    40px 40px,
    66px 80px,
    66px 80px,
    150px 145px,
    40px 40px,
    150px 145px,
    /* v */
    188px 236px,
    188px 236px,
    456px 40px,
    /* a */
    188px 176px,
    188px 176px,
    50px 195px,
    /* n */
    268px 176px,
    188px 176px,
    268px 176px,
    /* div */
    656px 256px;
}

.nav.navbar-nav {
  margin: 0 -15px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #ffffff;
}

.navbar-nav > .active.home a, .navbar-nav > .active.home a:hover {
  color: #cb5c3e;
}

.navbar-nav > .active.gallery a, .navbar-nav > .active.gallery a:hover, .navbar-nav > .gallery a:hover {
  color: #3eb5cb;
}

.navbar-nav > .active.about a, .navbar-nav > .active.about a:hover, .navbar-nav > .about a:hover {
  color: #afcb3e;
}

.navbar-nav > .active.contact a, .navbar-nav > .active.contact a:hover, .navbar-nav > .contact a:hover {
  color: #ab3ecb;
}

.navbar {
  background: #ffffff;
}

/* ANIMATION RULES */
@-webkit-keyframes loading { from{ width: 0 } to{ width: 100%; } }
@-moz-keyframes loading { from{ width: 0 } to{ width: 100%} }
@-o-keyframes loading { from{ width: 0 } to{ width: 100%} }
@keyframes loading { from{ width: 0 } to{ width: 100%} }

/* CONTAINER */
.loader {
  height: 1px;
  margin: 25% 0;
}

 /* PROGRESS BAR */

.progress {
  position: relative;
  width: 0;
  height: 1px;
  -webkit-animation: loading 5s linear forwards;
  -moz-animation: loading 5s linear forwards;
  -o-animation: loading 5s linear forwards;
  animation: loading 5s linear forwards
}

/* SPHERE */
.progress:after {
  content: '';
  position: absolute;
  right: -2px;
  top: -4px;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px
}

.blue {
  background: #a7a7a7;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a7a7a7), to(#a8a8a8));
  background: -webkit-linear-gradient(#a7a7a7, #a8a8a8);
  background: -moz-linear-gradient(#a7a7a7, #a8a8a8);
  background: -o-linear-gradient(#a7a7a7, #a8a8a8);
  background: linear-gradient(#a7a7a7, #a8a8a8);
  -webkit-box-shadow: 0 0 20px #a7a7a7;
  -moz-box-shadow: 0 0 20px #a7a7a7;
  box-shadow: 0 0 20px #a7a7a7
}

.blue:after {
  -webkit-box-shadow: 0 0 20px #a7a7a7;
  -moz-box-shadow: 0 0 20px #a7a7a7;
  box-shadow: 0 0 20px #a7a7a7
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​


.name .myFName {
  color: #646464;
}

.name .myLName {
  color: #A7A7A7;
}

.name {
  letter-spacing: 5px;
  font-size: 32px;
  font-weight: 200;
  padding-bottom: 10px;
}

.menu-bar, .name {
  text-align: center;
}

.myFName, .myLName {
  padding-right: 25px !important;
  -webkit-animation: fadein 2s; /* Safari and Chrome */
     -moz-animation: fadein 2s; /* Firefox */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera */
          animation: fadein 2s;
}

.menu-bar {
  font-size: 16px;
  color: #A7A7A7;
  -webkit-animation: fadein 4s; /* Safari and Chrome */
     -moz-animation: fadein 4s; /* Firefox */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera */
          animation: fadein 4s;
}

a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}

a:hover
{
  color: #646464;
  text-decoration:none;
  cursor:pointer;
}

.menu-bar li {
  padding-right: 10px;
  border-right: solid 1px #646464;
  text-transform: uppercase;
}

.menu-bar li:last-child {
  border-right: none;
}

.content {
  margin: 22% 0;
}

body{
  font-family: orator std;
}

.fitScreen {
  width: 100%;
  max-height: 98%;
  overflow: hidden;
}
